---
import Layout from './../layouts/layout.astro';
import HeroBanner from '../components/heroBanner.astro';
import AffiliatedBrands from '../components/affiliatedBrands.astro';
import ThreeColFeature from '../components/threeColFeature.astro';
import TwoRowContentCards from '../components/twoRowContentCards.astro';
import MansoryGrid from '../components/mansoryGrid.astro';
import FAQ from '../components/faq.astro';
import Resources from '../components/resources.astro';
import Pricing from '../components/pricing.astro';
---

<Layout pageTitle="Welcome to ScamAi">
  <HeroBanner />
  <div class="container m-auto">
    <AffiliatedBrands />
  </div>
  <ThreeColFeature />
  <div class="container m-auto">
    <TwoRowContentCards />
    <MansoryGrid />
  </div>
  <Pricing />
  <div class="container m-auto">
    <FAQ />
  </div>
  <Resources />
</Layout>
