---
---
<div class="px-4 py-2 bg-gradient-to-r from-[#F4D7FF] to-[#D4E8FF] text-white">
  <div class="container m-auto text-center">
    <p class="text-slate-900"><a href="/about" class="text-sky-700 underline underline-offset-4">Subscribe</a> to the Latest ScamAi News.</p>
  </div>
</div>