---
---
<div class="px-4 py-2 bg-white">
  <div class="text-center py-10 text-gray-800">
    <h3 class="font-semibold">ScamAi Enables Businesses to Scam <span class="font-bold underline text-[#00C670] underline-offset-2">12X</span> More!</h3>
  </div>

  <div class="flex md:flex-row flex-col-reverse max-w-[1200px] m-auto bg-[#F7F2FF] mb-8 min-h-[200px] rounded-xl p-6 md:p-8 text-gray-800">
    <div class="self-center">
      <h3 class="pb-2">Next Generation Data Analysis</h3>
      <p class="font-light pr-2">Blah blah blah blah blah. You know the deal, we steal...<br> I mean gather data and use that data as a large dataset model to take advantage and generate profit. ScamAi’s advance brain is able to distinguish what is the best scam methods to bring profit to your company.</p>
    </div>
    <div class=`min-w-[50%] min-h-[200px] flex justify-end mb-6 md:mb-0 bg-[url('/icons/data.png')] rounded-xl bg-cover`>
    </div>
  </div>

  <div class="flex flex-row-reverse md:flex-row flex-col max-w-[1200px] m-auto bg-[#F7F2FF] min-h-[200px] rounded-xl p-6 md:p-8 text-gray-800">
    <div class=`min-w-[50%] min-h-[200px] flex justify-end mb-6 md:mb-0 bg-[url('/icons/money.png')] rounded-xl bg-cover`>
    </div>
    <div class="flex-grow md:text-right self-center">
      <div class="md:pl-4">
        <h3 class="font-black text-7xl pb-2">MONEY.</h3>
        <p class="font-light md:pl-2">ScamAi is able to function as a variety of different professionals. Whether it’s a Snake Oil sales person, Nigerian prince, or a Crypto founder, ScamAi is your perfect partner in crime.<span class="font-bold"> ScamAi will make money for you.</span><br> <span class="text-xs"><i>*Legally or illegally.</i></span></p>
      </div>
    </div>
  </div>
</div>